/* You can add global styles to this file, and also import other style files */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

body {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.color-primary {
    color: #1481BA !important;
}

.color-success {
    color: teal;
}

.center-align {
    width: 100%;
    text-align: center;
}

.width-70 {
    width: 70%!important;
    margin-left: 15%!important;
} 
.margin-top-30 {
    margin-top: 30px;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-top-bar {
    margin-top:70px;
}