.heading-home-page {
    font-size: 30px;
    font-weight: 900;
}

section {
    background-color: white;
    padding: 30px 60px;
}

h5 {
    font-size: 20px;
    margin-top: 50px;
}

.navbar {
    height: 80px;
    width: 100%;
    box-shadow: 0px 10px 10px -5px hsl(229, 6%, 66%)!important;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.main-content {
    margin-top: 120px;
}

.btn-menu {
    margin-left: 20px;
}