.cus-page {
    background-color: rgba(0,0,0,0.06);
    height: 100vh;
    padding-top: 100px;
}
.login-form {
    background: #FFFFFF;
    width: 400px;
    margin-left: calc(50% - 200px);
    padding: 45px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.btn-login {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
}