<div class="cus-page">
    <div class="signup-form">
      <h2 style="text-align: center;">Signup</h2>
  
      <div class="mb-3" *ngFor="let field of fields; let i = index">
        <label class="form-label">{{field.name}}</label>
        <div *ngIf="field.type === 'single_line_text'" >
          <input type="text" [(ngModel)]="field.val" class="form-control" placeholder="{{field.name}}">
        </div>
        <div *ngIf="field.type === 'email'">
          <input type="email" [(ngModel)]="field.val" class="form-control" placeholder="Email Address">
        </div>
        <div *ngIf="field.type === 'password'" >
          <input type="password" [(ngModel)]="field.val" class="form-control"placeholder="Password">
        </div>
        <div *ngIf="field.type === 'multiline_text'">
          <textarea [(ngModel)]="field.val" class="form-control"></textarea>
        </div>
      </div>
      
      <button class="btn btn-success btn-login" (click)="register()">Register</button>
      <br><br>
      <a href="login">Already Have a account? Login</a>
  </div>
  </div>